
.row {
	height: 500px;
}

.container {
  text-align: center;
  background-image: url(../img/redstar.jpg);
  
}

#login {
  color: #fff;
}

#message {
  color: #fff;
}

#username {
  width:80%;
}

#password {
  width:80%;
}

#log {
  width: 50%;
}
